{% extends '../base.html' %}
{% load static %}


{% block content %}
    
    <!-- =============== MAIN PAGE =============================-->
    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- ================= Entête ====================-->
            <div class="row">
                <div class="col-12">
                    <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                        <div class="page_title_left d-flex align-items-center">
                            <h3 class="f_s_25 f_w_700 dark_text mr_30">Profil</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="white_card position-relative mb_20">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 align-self-center">
                                    {% if teacher.file_exists %}
                                        <img src="{{ teacher.picture.url }}" alt class="mx-auto d-block" height="300" />
                                    {% else %}
                                    <img src="{% static 'img/staf/teacher.png' %}" alt class="mx-auto d-block" height="200" />
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="single-pro-detail">
                                        {% if user.is_manager %}
                                        <p class="mb-1">GESTIONNAIRE</p>
                                        {% else %}
                                        <p class="mb-1">COMPTABLE</p>
                                        {% endif %}
                                        <div class="custom-border mb-3"></div>
                                        <h3 class="pro-title"> {{user.management_profil.firstname}} {{user.management_profil.lastname}}</h3><br>
                                        <h6 class="text-muted font_s_13 mt-2 mb-1">Sexe : {{user.management_profil.sex}} </h6>
                                        <h6 class="text-muted font_s_13 mt-2 mb-1">Email : {{user.management_profil.email}} </h6>
                                        <h6 class="text-muted font_s_13 mt-2 mb-1">Téléphone : {{user.management_profil.tel}} </h6>
                                        <h6 class="text-muted font_s_13 mt-2 mb-1">Adrèsse : {{user.management_profil.address}} </h6>
                                        <h6 class="text-muted font_s_13 mt-2 mb-1">Ville : {{user.management_profil.city}} </h6>
                                        <div class="quantity mt-3">
                                            <a href='{% url "manager_dashboard:edit_profil" %}' class="btn theme_bg_6 text-white px-4 d-inline-block "><i class="fa fa-edit me-2"></i>Modifier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
{% endblock content %}
    