asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-cors-headers
django-filter
django-jazzmin
django-rest-swagger
djangorestframework
djangorestframework-jwt
ez-setup
idna
importlib-metadata
itypes
Jinja2
Markdown
MarkupSafe
mysql
mysql-connector
mysqlclient
openapi-codec
Pillow
PyJWT
pytz
PyYAML
requests
simplejson
sqlparse
uritemplate
urllib3
zipp