{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Pré-Inscriptions | {{year.label}} </h3>
                    </div>
                    <!--<div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <a href='{% url "manager_dashboard:add_student" %}' class="white_btn3"><i class="fas fa-plus-square"></i>  Ajouter un Étudiant</a>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card QA_section border-0">
                    <div class="card-body QA_table ">
                        <div class="white_box_tittle list_header">
                            <div class="box_right d-flex lms_block">
                                <div class="serach_field_2">
                                    <div class="search_inner">
                                        <form Active="#">
                                            <div class="search_field">
                                                <input type="text" id="searchInput" placeholder="rechercher un....">
                                            </div>
                                            <button type="submit"> <i class="ti-search"></i> </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="add_button ms-2">
                                    <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive shopping-cart ">
                            <table id="dataTable" class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Photo</th>
                                        <th class="border-top-0">Matricule</th>
                                        <th class="border-top-0">Nom</th>
                                        <th class="border-top-0">Prénom</th>
                                        <th class="border-top-0">Date de Naissance</th>
                                        <th class="border-top-0">Parcours</th>
                                        <th class="border-top-0">Niveau</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if student_careers|length >= 1 %}
                                        {% for student_career in student_careers %}
                                        <tr>
                                            <td>
                                                {% if student_career.student.file_exists %}
                                                    <img src="{{ student_career.student.picture.url }}" alt height="52">
                                                {% else %}
                                                    <img src="{% static 'img/staf/student.png' %}" alt height="52">
                                                {% endif %}
                                            </td>
                                            <td><h6> {{student_career.student.registration_number|upper}} </h6></td>
                                            <td><h6> {{student_career.student.lastname}} </h6></td>
                                            <td><h6> {{student_career.student.firstname}} </h6></td>
                                            <td><h6> {{student_career.student.bithday}} </h6></td>
                                            <td><h6> {{student_career.career.title}} </h6></td>
                                            <td><h6> {{student_career.semester.level.label}} </h6></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href='{% url "accountant_dashboard:pre_registrations_detail" student_career.id %}' class="action_btn mr_10"><i class="fas fa-eye" aria-hidden="true"></i></a>
                                                    <a href='{% url "accountant_dashboard:pre_registrations_delete" student_career.id %}' class="action_btn"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td><p>Aucune demande de pré-inscription en cours</p></td>
                                        </tr>
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        $('#searchInput').keyup(function(){
            var searchText = $(this).val().toLowerCase();
            $('#dataTable tbody tr').each(function(){
                var currentRowText = $(this).text().toLowerCase();
                if(currentRowText.indexOf(searchText) !== -1){
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });

    // Supprimer un élément
    function deleteTeacher(teacher_id) {
        var csrftoken = getCookie('csrftoken'); // Récupérer le jeton CSRF
        $.ajax({
            url: `/gestion_universite/teachers/${teacher_id}/delete/`,
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken); // Ajouter le jeton CSRF à l'en-tête de la requête
            },
            success: function(response) {
                $('#elementList').find(`tr[data-id="${teacher_id}"]`).remove();
                console.log('Élément supprimé avec succès');
            },
            error: function(error) {
                console.error('Erreur lors de la suppression de l\'élément', error);
            }
        });
    }
    
    // Fonction pour récupérer le jeton CSRF depuis le cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
</script>
{% endblock content %}