{% extends '../base.html' %}
{% load static %}


{% block content %}
    
    <!-- =============== MAIN PAGE =============================-->
    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- ================= Entête ====================-->
            <div class="row">
                <div class="col-12">
                    <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                        <div class="page_title_left d-flex align-items-center">
                            <h3 class="f_s_25 f_w_700 dark_text mr_30">Editer Mon Profil</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">

                <div class="col-xl-12">
                    <div class="white_card card_height_100 mb_30">
                        <div class="white_card_body">
                            <form method='post'>
                                {% csrf_token %}
                                <h5 class="text-primary mt-2">Informations générales</h5><hr>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label" for="level">Nom</label>
                                        {{form.lastname}}
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="level">Prénom</label>
                                        {{form.firstname}}
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="level">Adresse</label>
                                        {{form.address}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label" for="level">Téléphone</label>
                                        {{form.tel}}
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="level">Adresse email</label>
                                        {{form.email}}
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="level">Ville</label>
                                        {{form.city}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="level">Sexe</label>
                                        {{form.sex}}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="level">Picture</label>
                                        {{form.picture}}
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <label class="form-label" for="level">Biographie</label>
                                        {{form.bio}}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success"> <i class="ti-save"></i> Sauvegarder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
{% endblock content %}
    