<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Tableau de bord</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="../index.html">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="enseignants.html">Enseignants</a></li>
                            <li class="breadcrumb-item"><a>Ajouter</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Ajouter un Enseignant </h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Nom</label>
                                <input type="text" class="form-control" id="libelle" placeholder="nom">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Prénom</label>
                                <input type="text" class="form-control" id="libelle" placeholder="nom">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Date de naissance</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Email</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Téléphone</label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Adrèsse</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Département de naissance</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Ville</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="level">Sexe</label>
                                <select id="level" class="form-control">
                                    <option selected>Choisir...</option>
                                    <option>Masculin</option>
                                    <option>Féminin</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Date d'entrée dans l'établissement</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="libelle">Photo</label>
                                <input type="file" class="form-control">
                            </div>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-label form-check-label" for="gridCheck"> Accès en ligne ?</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success"> <i class="ti-save"></i> Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>