{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Tableau de bord</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="../index.html">Accueil</a></li>
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:teachers" %}'>Enseignants</a></li>
                            <li class="breadcrumb-item"><a> {{ teacher.fullname }} </a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="white_card position-relative mb_20">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                {% if teacher.file_exists %}
                                    <img src="{{ teacher.picture.url }}" alt class="mx-auto d-block" height="300" />
                                {% else %}
                                    <img src="#" alt height="52" alt="No Picture">
                                {% endif %}
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="single-pro-detail">
                                    <p class="mb-1">Enseignant</p>
                                    <div class="custom-border mb-3"></div>
                                    <h3 class="pro-title"> {{ teacher.firstname}} {{ teacher.lastname | upper}} </h3><br>
                                    <h6 class="text-muted font_s_13 mt-2 mb-1">Sexe : {{ teacher.sex }} </h6>
                                    <h6 class="text-muted font_s_13 mt-2 mb-1">Email :  {{ teacher.email}} </h6>
                                    <h6 class="text-muted font_s_13 mt-2 mb-1">Téléphone : +242 {{ teacher.tel }} </h6>
                                    <div class="quantity mt-3">
                                        <a href class="btn theme_bg_6 text-white px-4 d-inline-block "><i class="fa fa-edit me-2"></i>Modifier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12">
                <div class="white_card mb_30 ">
                    <div class="white_card_header">
                        <div class="bulder_tab_wrapper">
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Information Personnelle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="schedule-tab" data-bs-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false">Emplois du temps</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="documents-tab" data-bs-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="white_card_body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="text-center">Information d'identification</h4>
                                            <hr>
                                            <h6>Nom : {{ teacher.lastname | upper }} </h6><br>
                                            <h6>Prénom : {{ teacher.firstname }} </h6><br>
                                            <h6>Date de naissance : {{ teacher.bithday }} </h6><br>
                                            <h6>Genre : {{ teacher.sex }} </h6><br>
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="text-center">Coordonnées</h4>
                                            <hr>
                                            <h6>Adresse de résidence : {{ teacher.address }} </h6><br>
                                            <h6>Numéro de téléphone : +242 {{ teacher.tel}} </h6><br>
                                            <h6>Adresse email : {{ teacher.email }} </h6><br>
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="text-center">Information d'identification</h4>
                                            <hr>
                                            <h6>Civilité : {{ teacher.nationality}} </h6><br>
                                            <h6>Nom Utilisateurs : {{ account.username }} </h6><br>
                                            <h6>Mot de passe : *************</h6><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="card bg-primary mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Lundi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Parcours : <br> Lic Info 1</li><hr>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-danger mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Mardi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Parcours : <br> Lic Info 1</li><hr>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-success mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Mercredi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Parcours : <br> Lic Info 1</li><hr>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-info mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Jeudi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Parcours : <br> Lic Info 1</li><hr>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-warning mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Vendredi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Parcours : <br> Lic Info 1</li><hr>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-dark mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Samedi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Parcours : <br> Lic Info 1</li><hr>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="page_title_right">
                                                <div class="page_date_button d-flex align-items-rigth">
                                                    <a href="#" class="btn mb-3 btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalLong"> <i class="fas fa-plus-square"></i> Ajouter un document</a>
                                                </div>
                                            </div>
                                            <div class="QA_table mb_30 mt-5">
                                                <table class="table lms_table_active ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Titre</th>
                                                            <th scope="col">Type du document</th>
                                                            <th scope="col">Fichier</th>
                                                            <th scope="col">Date d'enregistrement</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Certificat de nationnalité</td>
                                                            <td>Certificat De Nationnalité</td>
                                                            <td><a href="#">certificat.pdf</a></td>
                                                            <td>02/11/2023</td>
                                                            <td>
                                                                <div class="action_btns d-flex">
                                                                    <a href="#" class="action_btn mr_10"> <i class="fas fa-eye"></i> </a>
                                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}