{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Tableau de bord</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Accueil</a></li>
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:students" %}' >Etudiants</a></li>
                            <li class="breadcrumb-item"><a>{{ student.lastname }}</a></li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <a href="ajout_etudiant.html" class="white_btn3"><i class="fas fa-plus-square"></i>  Ajouter un Étudiant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="white_card position-relative mb_20">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                
                                {% if student.file_exists %}
                                    <img src="{{ student.picture.url }}" alt class="mx-auto d-block" height="300" />
                                {% else %}
                                    <img src="" alt class="mx-auto d-block" height="300" />
                                {% endif %}
                                    
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="single-pro-detail">
                                    <p class="mb-1">Etudiant</p>
                                    <div class="custom-border mb-3"></div>
                                    <h3 class="pro-title"> {{student.firstname}} {{student.lastname|upper}} </h3><br>
                                    <h6 class="text-muted font_s_13 mt-2 mb-1">Parcours : {{student_career.career.title}} </h6>
                                    <h6 class="text-muted font_s_13 mt-2 mb-1">Filière : {{student_career.career.sector.title}} </h6>
                                    <h6 class="text-muted font_s_13 mt-2 mb-1">Niveau : {{student_career.semester.level.label}} </h6>
                                    <div class="quantity mt-3">
                                        <a href='{% url "manager_dashboard:edit_student" student.id %}' class="btn bg-dark text-white px-4 d-inline-block "><i class="fa fa-edit me-2"></i>Modifier</a>
                                        <a href class="btn bg-danger text-white px-4 d-inline-block "><i class="fa fa-trash me-2"></i>Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12">
                <div class="white_card mb_30 ">
                    <div class="white_card_header">
                        <div class="bulder_tab_wrapper">
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Information Personnelle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="parents-tab" data-bs-toggle="tab" href="#parents" role="tab" aria-controls="parents" aria-selected="false">Parents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="schedule-tab" data-bs-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false">Emplois du temps</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="sanctions-tab" data-bs-toggle="tab" href="#sanctions" role="tab" aria-controls="sanctions" aria-selected="false">Sanctions / Appréciations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="factures-tab" data-bs-toggle="tab" href="#factures" role="tab" aria-controls="factures" aria-selected="false">Factures</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="documents-tab" data-bs-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="compta-tab" data-bs-toggle="tab" href="#compta" role="tab" aria-controls="compta" aria-selected="false">Comptabilité</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="bulletin-tab" data-bs-toggle="tab" href="#bulletin" role="tab" aria-controls="bulletin" aria-selected="false">Bulletin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="parcours-tab" data-bs-toggle="tab" href="#parcours" role="tab" aria-controls="parcours" aria-selected="false">Parcours</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="white_card_body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="text-center">Information d'identification</h4>
                                            <hr>
                                            <h6>Matricule : </h6><br>
                                            <h6>Nom : <i>{{student.lastname | upper}}</i> </h6><br>
                                            <h6>Prénom : {{student.firstname}} </h6><br>
                                            <h6>Date de naissance : {{student.bithday}} </h6><br>
                                            <h6>Genre : {{student.sex}} </h6><br>
                                            <h6>Parcours : {{student_career.career.title}} </h6><br>
                                            <h6>Filière : {{student_career.career.sector.title}} </h6><br>
                                            <h6>Niveau : {{student_career.semester.level.label}} </h6><br>
                                            <h6>Année académique : {{student_career.academic_year.label}} </h6><br>
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="text-center">Coordonnées</h4>
                                            <hr>
                                            <h6>Adresse de résidence : {{student.address}} </h6><br>
                                            <h6>Numéro de téléphone : {{student.tel}} </h6><br>
                                            <h6>Adresse email : {{student.email}} </h6><br>
                                            <h6>Lieu de naissance : {{student.birthday_place}} </h6><br>
                                            <h6>Ville : {{student.city}} </h6><br>
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="text-center">Information d'identification</h4>
                                            <hr>
                                            <h6>Groupe sanguin : {{student.blood_type}} </h6><br>
                                            <h6>Allergies : {{student.allergy}} </h6><br>
                                            <h6>Civilité : {{student.nationality}} </h6><br>
                                            <h6>Nom Utilisateurs : </h6><br>
                                            <h6>Mot de passe : *************</h6><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="parents" role="tabpanel" aria-labelledby="parents-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="text-center">Responsable 1</h4><hr>
                                            <h6>Nom : </h6><br>
                                            <h6>Prénom : </h6><br>
                                            <h6>Genre : </h6><br>
                                            <h6>Adresse de résidence : </h6><br>
                                            <h6>Numéro de téléphone : </h6><br>
                                            <h6>Adresse email : </h6><br>
                                            <h6>Ville : </h6><br>
                                            <h6>Pays : </h6><br>
                                            <h6>Profession : </h6><br>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="text-center">Responsable 2</h4><hr>
                                            <h6>Nom : </h6><br>
                                            <h6>Prénom : </h6><br>
                                            <h6>Genre : </h6><br>
                                            <h6>Adresse de résidence : </h6><br>
                                            <h6>Numéro de téléphone : </h6><br>
                                            <h6>Adresse email : </h6><br>
                                            <h6>Ville : </h6><br>
                                            <h6>Pays : </h6><br>
                                            <h6>Profession : </h6><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="card bg-primary mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Lundi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Cisco : <br> 9h30 - 12h</li><hr>
                                                        <li>Pause : <br> 12h - 13h</li><hr>
                                                        <li>Structure de données et algorithme fondamentaux : <br> 13h - 17h</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-danger mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Mardi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Cisco : <br> 9h30 - 12h</li><hr>
                                                        <li>Pause : <br> 12h - 13h</li><hr>
                                                        <li>Structure de données et algorithme fondamentaux : <br> 13h - 17h</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-success mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Mercredi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Cisco : <br> 9h30 - 12h</li><hr>
                                                        <li>Pause : <br> 12h - 13h</li><hr>
                                                        <li>Structure de données et algorithme fondamentaux : <br> 13h - 17h</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-info mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Jeudi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Cisco : <br> 9h30 - 12h</li><hr>
                                                        <li>Pause : <br> 12h - 13h</li><hr>
                                                        <li>Structure de données et algorithme fondamentaux : <br> 13h - 17h</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-warning mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Vendredi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Cisco : <br> 9h30 - 12h</li><hr>
                                                        <li>Pause : <br> 12h - 13h</li><hr>
                                                        <li>Structure de données et algorithme fondamentaux : <br> 13h - 17h</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-dark mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-timer" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">Samedi</h4></div>
                                                <div class="widget-subheading mt-2">
                                                    <ol>
                                                        <li>Mathématique : <br> 08h - 9h30</li><hr>
                                                        <li>Cisco : <br> 9h30 - 12h</li><hr>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sanctions" role="tabpanel" aria-labelledby="sanctions-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="QA_table mb_30">
                                                <table class="table lms_table_active ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Matière</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Type de sanction/appréciation</th>
                                                            <th scope="col">Commentaire</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Mathématique</td>
                                                            <td>15/08/2023</td>
                                                            <td>Heure de colle</td>
                                                            <td>Bavardage</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h3 class="text-center">Tableau de Moyennes</h3>
                                            <div class="QA_table mb_30">
                                                <table class="table lms_table_active ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Parcours</th>
                                                            <th scope="col">Filière</th>
                                                            <th scope="col">Semestre</th>
                                                            <th scope="col">Niveau</th>
                                                            <th scope="col">Moyennes</th>
                                                            <th scope="col">Classement</th>
                                                            <th scope="col">Décision</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Lic Info 1</td>
                                                            <td>Informatique</td>
                                                            <td>Semestre 1</td>
                                                            <td>1ère année</td>
                                                            <td>11,11</td>
                                                            <td>4/48</td>
                                                            <td>
                                                                <span class="badge rounded-pill bg-success">Admis</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <h3 class="text-center mt-5">Releve des Notes</h3>
                                            <div class="QA_table mb_30">
                                                <table class="table lms_table_active ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Matière</th>
                                                            <th scope="col">Contrôle</th>
                                                            <th scope="col">Partiel</th>
                                                            <th scope="col">Coef</th>
                                                            <th scope="col">Total</th>
                                                            <th scope="col">Parcours</th>
                                                            <th scope="col">Filière</th>
                                                            <th scope="col">Semestre</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Base de la conception orienté objet</td>
                                                            <td>14</td>
                                                            <td>14</td>
                                                            <td>5</td>
                                                            <td>70</td>
                                                            <td>Lic Info 1</td>
                                                            <td>Informatique</td>
                                                            <td>Semestre 1</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="factures" role="tabpanel" aria-labelledby="factures-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-12 mt">
                                            <div class="QA_table mb_30">
                                                <table class="table lms_table_active ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">N° Factures</th>
                                                            <th scope="col">Matricule</th>
                                                            <th scope="col">Parcours</th>
                                                            <th scope="col">Montant</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Reste</th>
                                                            <th scope="col">État</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>FA20112055</td>
                                                            <td>KJE2023001</td>
                                                            <td>Linc Info 1</td>
                                                            <td>30000</td>
                                                            <td>05/12/2023</td>
                                                            <td>-</td>
                                                            <td><span class="badge rounded-pill bg-success">Entièrement payé</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="page_title_right">
                                                <div class="page_date_button d-flex align-items-rigth">
                                                    <a href="#" class="btn mb-3 btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalLong"> <i class="fas fa-plus-square"></i> Ajouter un document</a>
                                                </div>
                                            </div>
                                            <div class="QA_table mb_30 mt-5">
                                                <table class="table lms_table_active ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Titre</th>
                                                            <th scope="col">Type du document</th>
                                                            <th scope="col">Fichier</th>
                                                            <th scope="col">Date d'enregistrement</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Certificat de nationnalité</td>
                                                            <td>Certificat De Nationnalité</td>
                                                            <td><a href="#">certificat.pdf</a></td>
                                                            <td>02/11/2023</td>
                                                            <td>
                                                                <div class="action_btns d-flex">
                                                                    <a href="#" class="action_btn mr_10"> <i class="fas fa-eye"></i> </a>
                                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="compta" role="tabpanel" aria-labelledby="compta-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="card bg-success mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-server" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">30000F CFA</h4></div>
                                                <div class="widget-subheading">Facturé cette année</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-info mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-server" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">200000F CFA</h4></div>
                                                <div class="widget-subheading">Reste à payé</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card bg-danger mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-receipt" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">1</h4></div>
                                                <div class="widget-subheading">Factures payés</div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="card bg-primary mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-receipt" style="color: white;"></i>
                                                </div>
                                                <div><h4 style="color: white;">8</h4></div>
                                                <div class="widget-subheading">Factures non payés</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mt">
                                            <div class="QA_table mb_30">
                                                <table class="table lms_table_active ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Mode de paiement</th>
                                                            <th scope="col">Libelle</th>
                                                            <th scope="col">État/N°Facture</th>
                                                            <th scope="col">Crédité</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>14/02/2023</td>
                                                            <td>Espèce</td>
                                                            <td>FA20112055</td>
                                                            <td><span class="badge rounded-pill bg-success">Entièrement payé</span></td>
                                                            <td>30000F CFA</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="bulletin" role="tabpanel" aria-labelledby="bulletin-tab">
                                <div class="builder_select">
                                    <div class="row ">
                                        <div class="col-12 QA_section">
                                            <div class="card QA_table ">
                                                <div class="card-header">
                                                    releve de note
                                                    <!-- <strong>15/08/2020</strong> -->
                                                    <span class="float-end"> <strong>Status:</strong> authentique</span>
                                                </div>
                                                <div class="card-body">
                                                <div class="row mb-4">
                                                    <div class="col-sm-4">
                                                        <h6 class="mb-3 text-center">
                                                            <strong>
                                                                CENTRE D'INFORMATIQUE ET DE RECHERCHE DE L'ARMEE ET <br> DE LA SÉCURITE <br>
                                                                ________________________
                                                            </strong>
                                                        </h6>

                                                        <h6 class="mb-3 text-center mt-3">
                                                            <strong>
                                                                CENTRE DE FORMATION <br> EN INFORMATIQUE <br>
                                                                ________________
                                                            </strong>
                                                        </h6>

                                                        <h6 class="mb-3 text-center mt-3">
                                                            <strong>
                                                                SERVICE DE LA SCOLARITE <br> ET DES EXAMENS <br>
                                                                ___________
                                                            </strong>
                                                        </h6>
                                                        
                                                    </div>
                                                    <div class="col-sm-4"></div>
                                                    <div class="col-sm-4">
                                                        <h6 class="mb-3 text-center">
                                                            <strong>RÉPUBLIQUE DU CONGO</strong> <br>
                                                            <span style="font-size: small;" >Unité - Travail - Progrès</span>
                                                        </h6>
                                                        <h6 class="mb-3 text-center mt-5">
                                                            <strong>ANNEE ACADEMIQUE : </strong> 2022-2023
                                                        </h6>
                                                        <h6 class="mb-3 text-center mt-3">
                                                            <strong>SEMESTRE : </strong> Semestre 2
                                                        </h6>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <h3 class="mb-3 text-center">
                                                            <strong>RELEVE DES NOTES</strong> <br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <h6 class="mb-3 mt-3"><strong>Nom : </strong> KUBEMBULA <br></h6>
                                                        <h6 class="mb-3"><strong>Filère : INFORMATIQUE</strong> <br></h6>
                                                        <h6 class="mb-3"><strong>Parcours : LICENCE EN INFORMATIQUE 1 A</strong> <br></h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <h6 class="mb-3 mt-3"><strong>Prénom : </strong> Jean-Élie <br></h6>
                                                        <h6 class="mb-3 mt-5"><strong>Niveau : 1ère année</strong></h6>
                                                    </div>
                                                </div>
                                                <div class="table-responsive-sm">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Matière</th>
                                                                <th>Contrôle1</th>
                                                                <th class="right">Partiel1</th>
                                                                <th class="center">Coef</th>
                                                                <th class="right">TOTAL</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="center">Analyse et méthode numérique</td>
                                                                <td class="left strong">1,00</td>
                                                                <td class="left">3,00</td>
                                                                <td class="right">2,00</td>
                                                                <td class="center">4,50</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">Base de conception orienté objet</td>
                                                                <td class="left strong">14,00</td>
                                                                <td class="left">14,00</td>
                                                                <td class="right">5,00</td>
                                                                <td class="center">70,50</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">Analyse et méthode numérique</td>
                                                                <td class="left strong">1,00</td>
                                                                <td class="left">3,00</td>
                                                                <td class="right">2,00</td>
                                                                <td class="center">4,50</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">Base de conception orienté objet</td>
                                                                <td class="left strong">14,00</td>
                                                                <td class="left">14,00</td>
                                                                <td class="right">5,00</td>
                                                                <td class="center">70,50</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">Analyse et méthode numérique</td>
                                                                <td class="left strong">1,00</td>
                                                                <td class="left">3,00</td>
                                                                <td class="right">2,00</td>
                                                                <td class="center">4,50</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">Base de conception orienté objet</td>
                                                                <td class="left strong">14,00</td>
                                                                <td class="left">14,00</td>
                                                                <td class="right">5,00</td>
                                                                <td class="center">70,50</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">Analyse et méthode numérique</td>
                                                                <td class="left strong">1,00</td>
                                                                <td class="left">3,00</td>
                                                                <td class="right">2,00</td>
                                                                <td class="center">4,50</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">Base de conception orienté objet</td>
                                                                <td class="left strong">14,00</td>
                                                                <td class="left">14,00</td>
                                                                <td class="right">5,00</td>
                                                                <td class="center">70,50</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-5 col-sm-5">
                                                        <table class="table table-clear QA_table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="left">
                                                                        <h6><strong>TOTAL DES COEFFICIENTS :</strong></h6>
                                                                    </td>
                                                                    <td class="right">46,00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left">
                                                                        <h6><strong>MOYENNE SEMESTRIELLE :</strong></h6>
                                                                    </td>
                                                                    <td class="right">11,11</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left">
                                                                        <h6><strong>MOYENNE ANNUELLE :</strong></h6>
                                                                    </td>
                                                                    <td class="right">10,71</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-5 ms-auto QA_section">
                                                        <table class="table table-clear QA_table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="left">
                                                                        <h6><strong>TOTAL GENERAL :</strong></h6>
                                                                    </td>
                                                                    <td class="right">511,12</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left">
                                                                        <h6><strong>CLASSEMENT :</strong></h6>
                                                                    </td>
                                                                    <td class="right">4/48</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left">
                                                                        <h6><strong>DECISION :</strong></h6>
                                                                    </td>
                                                                    <td >
                                                                        <h4 class="text-danger"><strong>ADMIS</strong></h4>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <figure class="col-lg-4 mt-5 ml-5 col-md-6 mb_30" itemprop="associatedMedia" itemscope>
                                                        <img class="img-fluid" src="../img/qr-code.png" height="150" width="150" itemprop="thumbnail" alt="QR CODE">
                                                    </figure>
                                                    <div class="col-lg-4 col-sm-5 ms-auto QA_section">
                                                        <h6 class="mb-3 mt-5">
                                                            <strong>
                                                                Le directeur du CFI-CIRAS <br>
                                                                ________________________
                                                            </strong>
                                                        </h6>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="parcours" role="tabpanel" aria-labelledby="parcours-tab">
                                <div class="builder_select">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="card mb-3 widget-chart">
                                                <div class="icon-wrapper rounded-circle">
                                                    <div class="icon-wrapper-bg bg-primary"></div>
                                                    <i class="ti-home text-primary"></i>
                                                </div>
                                                <div><h4 style="color: white;">Lic Info 1</h4></div>
                                                <div class="widget-subheading">
                                                    <ol>
                                                        <li>Parcours : <br> Linc Info 1</li><hr>
                                                        <li>Niveau : <br> Première année</li><hr>
                                                        <li>Moyennes : <br> 12,50</li><hr>
                                                        <li>Année académique : <br>2022 - 2023</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}