<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Tableau de bord</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Etudiants</a></li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <a href="ajout_etudiant.html" class="white_btn3"><i class="fas fa-plus-square"></i>  Ajouter un Étudiant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card QA_section border-0">
                    <div class="card-body QA_table ">
                        <div class="table-responsive shopping-cart ">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Photo</th>
                                        <th class="border-top-0">Nom</th>
                                        <th class="border-top-0">Prénom</th>
                                        <th class="border-top-0">Date de naissnce</th>
                                        <th class="border-top-0">Parcours</th>
                                        <th class="border-top-0">Filière</th>
                                        <th class="border-top-0">Niveau</th>
                                        <th class="border-top-0">Accès en ligne</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="../img/staf/3.png" alt height="52"></td>
                                        <td>KUBEMBULA</td>
                                        <td>Jean Élie</td>
                                        <td>02/01/1999</td>
                                        <td>Lic Info 1</td>
                                        <td>Informatique</td>
                                        <td>Premiere année</td>
                                        <td><a class="status_btn">Oui</a></td>
                                        <td>
                                            <div class="action_btns d-flex">
                                                <a href="etudiant_detail.html" class="action_btn mr_10"> <i class="fas fa-eye"></i> </a>
                                                <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>