{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Matières</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a class='text-primary' href='{% url "manager_dashboard:index" %}'>Accueil</a></li>
                            <li class="breadcrumb-item"><a href="">Matières</a></li>
                        </ol>
                    </div>
                    {% if not user.is_admin_school %}
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <a href='{% url "manager_dashboard:add_subject" %}' class="white_btn3"> <i class="fas fa-plus-square"></i> Ajouter une matière</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert text-white bg-{{ message.tags }} d-flex align-items-center justify-content-between" {% endif %} role="alert">
                    <div class="alert-text">{{ message }}</div>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><i class="ti-close text-white f_s_14"></i></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Liste des Matières</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" id="searchInput" placeholder="rechercher un....">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ms-2">
                                        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
                                    </div>
                                </div>
                            </div>
                            <div class="QA_table mb_30">
                                <table id="dataTable" class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Libelle</th>
                                            <th scope="col">Filière</th>
                                            <th scope="col">Responsable</th>
                                            <th scope="col">Niveau</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Groupe Matière</th>
                                            <th scope="col">Evaluation possible ?</th>
                                        </tr>
                                    </thead>
                                    <tbody id="elementList">
                                        {% for subject in subjects %}
                                            <tr data-id="{{ subject.id }}">
                                                <td><h6> {{ subject.label }} </h6></td>
                                                <td><h6> {{ subject.sector.title }} </h6></td>
                                                <td> <h6> {{ subject.teacher_in_charge.fullname }} </h6> </td>
                                                <td><h6> {{ subject.level.label }} </h6></td>
                                                <td><h6><span class="badge rounded-pill bg-info">{{ subject.type }}</span></h6></td>
                                                <td><h6><span class="badge rounded-pill bg-primary"> {{ subject.subject_group.title }} </span></h6></td>
                                                <td>
                                                    
                                                    {% if subject.possible_evaluation %}
                                                        <h6><span class="badge rounded-pill bg-success"> Oui </span></h6>
                                                    {% else %}
                                                        <h6><span class="badge rounded-pill bg-danger"> Non </span></h6>
                                                    {% endif %}
                                                        
                                                </td>
                                                {% if not user.is_admin_school %}
                                                <td>
                                                    <div class="action_btns d-flex">
                                                        <a href='{% url "manager_dashboard:edit_subject" subject.id %}' class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                        <a href="#" onclick='deleteSubject({{ subject.id }})' class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                    </div>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                                <h4 class="step-links">
                                    {% if subjects.has_previous %}
                                        <a href="?page=1">&laquo; 1 | </a>
                                        <a href="?page={{ subjects.previous_page_number }}">Précedent</a>
                                    {% endif %}
                            
                                    <span class="current">
                                        [Page {{ subjects.number }} sur {{ subjects.paginator.num_pages }}.]
                                    </span>
                            
                                    {% if subjects.has_next %}
                                        <a href="?page={{ subjects.next_page_number }}">Suivant</a>
                                        <a href="?page={{ subjects.paginator.num_pages }}"> | {{ subjects.paginator.num_pages }} &raquo;</a>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // Supprimer un élément
    function deleteSubject(subject_id) {
        var csrftoken = getCookie('csrftoken'); // Récupérer le jeton CSRF
        $.ajax({
            url: `/gestion_universite/matières/${subject_id}/delete/`,
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken); // Ajouter le jeton CSRF à l'en-tête de la requête
            },
            success: function(response) {
                $('#elementList').find(`tr[data-id="${subject_id}"]`).remove();
                console.log('Élément supprimé avec succès');
            },
            error: function(error) {
                console.error('Erreur lors de la suppression de l\'élément', error);
            }
        });
    }
    
    // Fonction pour récupérer le jeton CSRF depuis le cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
</script>
{% endblock content %}