{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Bulletins</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:index" %}'>Accueil</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <form class="row g-3">
                        <div class="col-auto">
                            <label class="form-label" for="inputState">Selectionner le niveau</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choisir...</option>
                                <option>1er année</option>
                                <option>2e année</option>
                            </select> 
                        </div>
                        <div class="col-auto">
                            <label class="form-label" for="inputState">Selectionner le semestre</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choisir...</option>
                                <option>Semestre 1</option>
                                <option>Semestre 2</option>
                                <option>Semestre 3</option>
                            </select> 
                        </div>
                        <div class="col-auto">
                            <label class="form-label" for="inputState">Selectionner le parcours</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choisir...</option>
                                <option>Licence Informatique 1 A</option>
                                <option>Licence Informatique 1 B</option>
                            </select> 
                        </div>
                        <div class="col-auto">
                            <label class="form-label" for="inputState">Année academique</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choisir...</option>
                                <option>2020 - 2021</option>
                                <option>2021 - 2022</option>
                            </select> 
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mt-4">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        

        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="QA_table mb_30">
                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matricule</th>
                                            <th scope="col">Nom complet</th>
                                            <th scope="col">Rang</th>
                                            <th scope="col">Moyenne</th>
                                            <th scope="col">Session</th>
                                            <th scope="col">Niveau</th>
                                            <th scope="col">Appreciation</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="elementList">
                                        <tr class='bg-light'>
                                            <td>
                                                <h6> KB0011KDH </h6>
                                            </td>
                                            <td><h6> KUBEMBULA Jean Elie</h6></td>
                                            <td><h6> 1 </h6></td>
                                            <td><h6><span class="badge rounded-pill bg-info"> 17,5</span></h6></td>
                                            <td><h6> Semestre 1 </h6></td>
                                            <td><h6> 1er année </h6></td>
                                            <td><h6><span class="badge rounded-pill bg-success"> Admis</span></h6></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href='' class="action_btn mr_10"> <i class="fas fa-eye"></i> </a>
                                                    <a href="#" class="action_btn mr_10"> <i class="fas fa-download"></i> </a>
                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
