{% extends '../base.html' %}
{% load static %}
{% block content %}
<!-- =============== MAIN PAGE =============================-->
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">N°{{ invoice.invoice_number}}</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);"></a></li>
                            <li class="breadcrumb-item"><a href='{% url "accountant_dashboard:invoices" %}'>Factures</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 QA_section">
                <div class="card QA_table ">
                    <div class="card-header">
                        Facture : 
                        <strong> {{invoice.invoice_date}} </strong>
                        <span class="float-end"> <strong>Status:</strong> authentique</span>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-sm-6">
                                <div>
                                    <strong>CENTRE DE FORMATION EN INFORMATIQUE </strong>
                                </div>
                                <div>République du Congo</div>
                                <div>50 rue Nkouma Moungali, Brazzaville</div>
                                <div>Email: <a href="#" class="__cf_email__" >[cfi-ciras@gmail.com]</a></div>
                                <div>Téléphone: +242 00 000 0000</div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <strong> {{invoice.student.lastname | upper}} {{ invoice.student.firstname }} </strong>
                                </div>
                                <div>République du Congo</div>
                                <div> {{ invoice.student.address}} </div>
                                <div>Email: <a href="#" class="__cf_email__">[{{invoice.student.email}}]</a></div>
                                <div>Phone: +242 {{invoice.student.tel}}</div>
                            </div>
                        </div>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">#</th>
                                <th>Article</th>
                                <th>Parcours</th>
                                <th class="right">Montant</th>
                                <th class="center">Quantité</th>
                                <th class="right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center">1</td>
                                <td class="left strong"> {{invoice.item.name}} </td>
                                <td class="left"> {{invoice.career.title}} </td>
                                <td class="right"> {{regulation.amount_payment}} XAF</td>
                                <td class="center">1</td>
                                <td class="right">{{regulation.amount_payment}} XAF</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                </div>
                <div class="col-lg-4 col-sm-5 ms-auto QA_section">
                    <table class="table table-clear QA_table">
                        <tbody>
                            <tr>
                                <td class="left"><strong>Total</strong></td>
                                <td class="right"><strong>{{regulation.amount_payment}} XAF</strong></td>
                            </tr>
                            <tr>
                                <td class="left"><strong>Date</strong></td>
                                <td class="right"><strong> {{invoice.invoice_date}} </strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock content %}