{% extends '../base.html' %}
{% load static %}
{% block content %}
<!-- =============== MAIN PAGE =============================-->
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- ================= Entête ====================-->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Factures des étudiants</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">/</a></li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <a href="#" class="white_btn3" data-bs-toggle="modal" data-bs-target="#exampleModalLong"> <i class="fas fa-plus-square"></i> Ajouter une facture</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="rechercher une matière....">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ms-2">
                                        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
                                    </div>
                                </div>
                            </div>
                            <div class="QA_table mb_30">
                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">N° Facture</th>
                                            <th scope="col">Date de facture</th>
                                            <th scope="col">Nom Étudiant</th>
                                            <th scope="col">Prénom Étudiant</th>
                                            <th scope="col">Parcours</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Commentaire</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>FA2002394</td>
                                            <td>29/11/2023</td>
                                            <td>KUBEMBULA</td>
                                            <td>Jean-Elie</td>
                                            <td>Lic Info 1</td>
                                            <td><span class="badge rounded-pill bg-danger">Patiellement payé</span></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href="facture-info.html" class="action_btn mr_10"> <i class="ti-eye"></i></a>
                                                    <a href="#" class="action_btn mr_10" data-bs-toggle="modal" data-bs-target="#Paiement" > <i class="ti-credit-card"></i> </a>
                                                    <a href="#" class="action_btn mr_10" data-bs-toggle="modal" data-bs-target="#exampleModalLong"> <i class="ti-pencil"></i> </a>
                                                    <a href="#" class="action_btn mr_10"> <i class="ti-trash"></i> </a>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


    </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une Facture</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="level">Article</label>
                        <select id="level" class="form-control">
                            <option selected>Choisir...</option>
                            <option>OYERE Morel</option>
                            <option>Administration publique</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="level">Parcours</label>
                        <select id="level" class="form-control">
                            <option selected>Choisir...</option>
                            <option>OYERE Morel</option>
                            <option>Administration publique</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="libelle">Etudiant</label>
                        <input type="text" class="form-control" id="libelle" placeholder="sauvegarde">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="libelle">Date</label>
                        <input type="date" class="form-control" id="libelle" placeholder="sauvegarde">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="ti-close"></i> Close</button>
                    <button type="submit" class="btn btn-success"><i class="ti-save"></i> Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="Paiement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Paiement de la facture N°FA23445DG</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="libelle">Montant</label>
                        <input type="number" class="form-control" id="libelle" placeholder="sauvegarde">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="libelle">Date</label>
                        <input type="date" class="form-control" id="libelle" placeholder="sauvegarde">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="libelle">Commentaire</label>
                        <textarea name="" class="form-control" id="" cols="30" rows="3"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="ti-close"></i> Close</button>
                    <button type="submit" class="btn btn-success"><i class="ti-save"></i> Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}